html{
  scroll-behavior: smooth;
}

body{
  text-align: justify;
}

main{
  margin-top: 8rem;
  margin-bottom: 8rem;
}

section{
  scroll-margin-top: 70px;
}

.star {
  font-size: 40px; 
  cursor: pointer;
  color: lightgray;
  margin-right: -5px;
}

AOS.init();
